# ─── Django ───────────────────────────────────────────────────
SECRET_KEY=changeme-very-long-and-secret-key-here___3a6ab883aad983244ccfbfd6947e830f0275741ca508861915eb177e2ed8fe12
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ─── Base de données (dev = SQLite, prod = PostgreSQL) ────────
DATABASE_URL=sqlite:///db.sqlite3
# En production, commenter la ligne ci-dessus et utiliser :
# DATABASE_URL=postgres://user:password@localhost:5432/appges_db

# ─── Email (pour 2FA et notifications) ────────────────────────
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=ton_email@gmail.com
EMAIL_HOST_PASSWORD=ton_app_password

# ─── Médias ───────────────────────────────────────────────────
MEDIA_URL=/media/
